.body-blue {
  background: $blue;
}


//header
header {
  background: url(../images/priscilla-du-preez-dlxLGIy-2VU-unsplash.jpg) center;
  background-size: cover;
  min-height:350px;
  .logo {
    padding: 4px !important;
    font-size: 1.5em;


    a {
      color: #fff
    }

  }
.nav{background: none;}
  .site-header {
    .nav-link {
      color: $white !important;
      &:hover {
        color: #6b6b4f !important;
        text-decoration: none;
      }
    }

  }

.bg-transparent{background:#756a6361}
.icons{
  a{color:$white;
  &:hover{color:#000}
  }
}
}


//responsive
@media(max-width:1280px) {

  .site-header a {
    margin-left: 0.5rem;
  }
}

@media(max-width:823px) {
  .flex-responsive {
    display: block !important
  }

  .container {
    max-width: 100%;
  }
}

@media(max-width:736px) {
  .menu {
    .btn {
      display: inline-table
    }
  }
header .icons{display:none !important}
  header .navbar-toggler {
    border: none;
    fill:#fff;
  }

  header .site-header .nav-link {
    color: #d9dadf;
  }

  .navbar-nav .nav-item {
    border-bottom: 1px solid #aaa199;
    padding: 10px 0;
    &:last-child{border:none}
  }
.menu{display: contents;}
.site-header{background: #877e78;
  width: 100%;
  padding: 5px 0 15px;

}
}

